<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="planner__app.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <planner__app.Properties.Settings>
            <setting name="CheckBox1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox16" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox17" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox18" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox19" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox20" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox21" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox22" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox23" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox24" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox25" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox26" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox27" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox28" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox29" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox30" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox31" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox32" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox33" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox34" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox35" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox36" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox37" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox38" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox39" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox40" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox41" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox42" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox43" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox44" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox45" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox46" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox47" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox48" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox49" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox50" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox51" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox52" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox53" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox54" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox55" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox56" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox57" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox58" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox59" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox60" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox61" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox62" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox63" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox64" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox65" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox66" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox67" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox68" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox69" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox70" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox71" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox72" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox73" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox74" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox75" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox76" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox77" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox78" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox79" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox80" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox81" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox82" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox83" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox84" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox85" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox86" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox87" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox88" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox89" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox90" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox91" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox92" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox93" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox94" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox95" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox96" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox97" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox98" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox99" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox100" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox101" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox102" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox103" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox104" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox105" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox106" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox107" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox108" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox109" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox110" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox111" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox112" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox113" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox114" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox115" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox116" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox117" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox118" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox119" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox120" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox121" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox122" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox123" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox124" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox125" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox126" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox127" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox128" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox129" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox130" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox131" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox132" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox133" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox134" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox135" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox136" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox137" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox138" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox139" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox140" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox141" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox142" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox143" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox144" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox145" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox146" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox147" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox148" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox149" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox150" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox151" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox152" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox153" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox154" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox155" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox156" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox157" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox158" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox159" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox160" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox161" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox162" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox163" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox164" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox165" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox166" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox167" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox168" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox169" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox170" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox171" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox172" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox173" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox174" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox175" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox176" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox177" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox178" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox179" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox180" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox181" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox182" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox183" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox184" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox185" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox186" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox187" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox188" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox189" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox190" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox191" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox192" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox193" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox194" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox195" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox196" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox197" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox198" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox199" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox200" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox201" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox202" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox203" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox204" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox205" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox206" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox207" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox208" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox209" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox210" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox211" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox212" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox213" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox214" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox215" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox216" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox217" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox218" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox219" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox220" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox221" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox222" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox223" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox224" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox225" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox226" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox227" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox228" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox229" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox230" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox231" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox232" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox233" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox234" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox235" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox236" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox237" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox238" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox239" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox240" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox241" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox242" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox243" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox244" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox245" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox246" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox247" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox248" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox249" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox250" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox251" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox252" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox253" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox254" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox255" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox256" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox257" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox258" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox259" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox260" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox261" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox262" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox263" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox264" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox265" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox266" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox267" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox268" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox269" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox270" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox271" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox272" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox273" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox274" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox275" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox276" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox277" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox278" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox279" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateTimePickerValue1" serializeAs="String">
                <value>2024-04-04</value>
            </setting>
            <setting name="DateTimePickerValue2" serializeAs="String">
                <value>2024-04-04</value>
            </setting>
        </planner__app.Properties.Settings>
    </userSettings>
</configuration>